<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shashi.android.androidutility"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
   <uses-permission android:name="android.permission.INTERNET" />

    <!-- Used to avoid sending an ad request if there is no connectivity. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
     
        <activity
            android:name="com.shashi.android.androidutility.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
              android:name="com.shashi.android.androidutility.MainActivity3"
              android:label="@string/app_name" >
         </activity>
         <activity
              android:name="com.shashi.android.androidutility.Mainactivity2"
              android:label="@string/app_name" >
         </activity>
         <activity
              android:name="com.shashi.android.androidutility.MainActivityLength"
              android:label="@string/app_name" >
         </activity>
         <activity
              android:name="com.shashi.android.androidutility.MainActivityStorage"
              android:label="@string/app_name" >
         </activity>
         <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
